.git
.idea
node_modules
resources/sass/**
resources/js/**
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/clockwork/**
storage/logs/**
tests
vendor
